[Desktop Entry]
Icon=utilities-terminal
Type=Application
Name=Wallpaper Downloader
Comment=Download Wallpaper
Exec=/var/http/usrs/local/bin/backgrounds/get.sh
